* {
  text-decoration: none;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
}

/* navbar */
nav {
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  width: 100%; /* mungkin masalahnya disini */
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.4));
  overflow: hidden;
}

.logo img {
  width: 125px;
  height: 125px;
  margin-left: 50px;
  margin-top: -15px;
}

.nav-list ul li {
  display: inline-block;
  width: 110px;
  height: 98px;
  /* background-color: aquamarine; */
}

.nav-list ul li a img {
  width: 23px;
  height: 23px;
  display: block;
  margin: auto;
  margin-top: 15px;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: 0.3s;
}

.nav-list ul li a img:hover {
  filter: grayscale(0);
  opacity: 0.6;
}

.nav-list ul li a span {
  display: inline-block;
  width: 110px;
  height: 43px;
  line-height: 46px;
  text-align: center;
  color: grey;
  font-size: 1rem;
  /* background-color: blue; */
}

.nav-list ul li #active img {
  filter: grayscale(0);
  opacity: 0.8;
}

/* nav Contact */

.nav-contact {
  display: flex;
  width: 350px;
  height: 98px;
  align-items: center;
  /* background-color: aquamarine; */
}

.nav-contact .telepon {
  display: flex;
  width: 165px;
  height: 37px;
  background-color: rgb(255, 143, 16);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-right: 15px;
  color: white;
}

.nav-contact .burger-icon img {
  width: 35px;
  height: 30px;
  display: none;
}

.nav-contact .telepon img {
  width: 18px;
  height: 18px;
  margin-right: 13px;
}

.nav-contact .telepon p {
  font-size: 14px;
  margin-bottom: 0;
}

.nav-contact .sosmed img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  opacity: 0.3;
}

/* hero konten */
.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/1bc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0px;
  align-items: center; /* Tengahin secara vertikal */
  justify-content: center; /* Tengahin secara horizontal */
  text-align: center;
}

.hero .konten {
  font-family: "Roboto";
  font-size: 20px;
  /* background-color: aqua; */
  margin-top: 350px;
}

.hero .konten h1 {
  margin-bottom: 33px;
  font-size: 65px;
  color: white;
  font-weight: 600;
}

.hero .konten p {
  width: 450px;
  height: 100px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: white;
  font-weight: 200;
}

.tombol-readmore button {
  width: 190px;
  height: 45px;
  border-radius: 50px;
  font-family: sans-serif;
  font-size: 15px;
  background-color: rgb(255, 143, 16);
  color: white;
  font-weight: 500;
}

/* TASTE OF FOOD */
.col {
  margin: 0 20px;
}

.col a {
  text-decoration: none;
}

.kolom-1,
.kolom-2,
.kolom-3,
.kolom-4,
.kolom-5,
.kolom-6 {
  height: 150px;
  transition: 0.4s;
  /* background-color: rgb(255, 143, 16); */
}

.kolom-2 {
  background-color: rgb(255, 143, 16);
  border-radius: 10px;
}

.kolom-2 .makanan-konten .deskripsi-makanan h1 {
  color: white;
}

.kolom-2 .makanan-konten .deskripsi-makanan p {
  color: rgb(235, 235, 235);
}

.kolom-1:hover,
.kolom-3:hover,
.kolom-4:hover,
.kolom-5:hover,
.kolom-6:hover {
  background-color: rgb(255, 143, 16);
  border-radius: 10px;
}

.kolom-1:hover .deskripsi-makanan h1,
.kolom-3:hover .deskripsi-makanan h1,
.kolom-4:hover .deskripsi-makanan h1,
.kolom-5:hover .deskripsi-makanan h1,
.kolom-6:hover .deskripsi-makanan h1 {
  color: white;
}

.kolom-1:hover .deskripsi-makanan p,
.kolom-3:hover .deskripsi-makanan p,
.kolom-4:hover .deskripsi-makanan p,
.kolom-5:hover .deskripsi-makanan p,
.kolom-6:hover .deskripsi-makanan p {
  color: rgb(236, 236, 236);
}

.tof-konten {
  width: 100%;
  height: 85vh;
  background-color: rgb(252, 252, 252);
}

.tof-konten .title h1 {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 75px;
  font-weight: 550;
  font-size: 50px;
  opacity: 0.9;
}

.tof-konten .tombol-readmore {
  text-align: center;
}

.clm1 .row,
.clm2 .row {
  padding-bottom: 65px;
  padding-right: 150px;
  padding-left: 150px;
}

.makanan-konten {
  display: flex;
  text-align: left;
  padding: 0px 25px;
}

.makanan-konten .gambarmknan {
  margin-right: 15px;
  line-height: 130px;
}

.makanan-konten .deskripsi-makanan {
  align-self: center;
  margin-top: 8px;
}

.makanan-konten .deskripsi-makanan h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.makanan-konten .deskripsi-makanan p {
  color: gray;
  margin-bottom: 0rem;
}

.tof-konten .tombol-readmore button {
  margin-top: 25px;
}
