@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");

* {
  text-decoration: none;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
}

/* navbar */
nav {
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  width: 100%; /* mungkin masalahnya disini */
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.4));
  overflow: hidden;
}

.logo img {
  width: 125px;
  height: 125px;
  margin-left: 50px;
  margin-top: -15px;
}

.nav-list ul li {
  display: inline-block;
  width: 110px;
  height: 98px;
  /* background-color: aquamarine; */
}

.nav-list ul li a img {
  width: 23px;
  height: 23px;
  display: block;
  margin: auto;
  margin-top: 15px;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: 0.3s;
}

.nav-list ul li a span {
  transition: 0.3s;
}

.nav-list ul li .aktif img {
  filter: grayscale(0);
  opacity: 0.6;
}

.nav-list ul li a:hover img {
  filter: grayscale(0);
  opacity: 0.6;
}

.nav-list ul li a:hover span {
  color: rgb(255, 143, 16);
}

.nav-list ul li a span {
  display: inline-block;
  width: 110px;
  height: 43px;
  line-height: 46px;
  text-align: center;
  color: grey;
  font-size: 1rem;
  /* background-color: blue; */
}

.nav-list ul li #active img {
  filter: grayscale(0);
  opacity: 0.8;
}

/* nav Contact */

.nav-contact {
  display: flex;
  width: 350px;
  height: 98px;
  align-items: center;
  /* background-color: aquamarine; */
}

.nav-contact .telepon {
  display: flex;
  width: 165px;
  height: 37px;
  background-color: rgb(255, 143, 16);
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-right: 15px;
  color: white;
}

.nav-contact .burger-icon img {
  width: 35px;
  height: 30px;
  display: none;
}

.nav-contact .telepon img {
  width: 18px;
  height: 18px;
  margin-right: 13px;
}

.nav-contact .telepon p {
  font-size: 14px;
  margin-bottom: 0;
}

.nav-contact .sosmed img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  opacity: 0.3;
}

/* hero konten */
.hero {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../img/1bc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0px;
  align-items: center; /* Tengahin secara vertikal */
  justify-content: center; /* Tengahin secara horizontal */
  text-align: center;
}

.hero .konten {
  font-family: "Roboto";
  font-size: 20px;
  /* background-color: aqua; */
  margin-top: 20%;
}

.hero .konten h1 {
  margin-bottom: 33px;
  font-size: 5rem;
  color: white;
  font-weight: 600;
}

.hero .konten p {
  width: 600px;
  height: 100px;
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  color: white;
  font-weight: 200;
}

.tombol-readmore button {
  width: 190px;
  height: 45px;
  border-radius: 50px;
  font-family: sans-serif;
  font-size: 15px;
  background-color: rgb(255, 143, 16);
  color: white;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.hero .tombol-readmore button {
  margin-top: 2%;
}

.tof-konten .tombol-readmore button {
  margin-top: 2%;
  margin-bottom: 2%;
}

.recipes-konten .tombol-readmore button {
  margin-top: 5%;
  margin-bottom: 2%;
}

.blog-konten .tombol-readmore button {
  margin-top: 3%;
}

.tombol-readmore button:hover {
  background-color: rgb(224, 128, 18);
}

/* TASTE OF FOOD */

.col a {
  text-decoration: none;
}

.kolom-1,
.kolom-2,
.kolom-3,
.kolom-4,
.kolom-5,
.kolom-6 {
  height: 150px;
  transition: 0.4s;
  /* background-color: rgb(255, 143, 16); */
}

.kolom-1,
.kolom-2,
.kolom-4,
.kolom-5 {
  margin-right: 30px;
}

.kolom-2 {
  background-color: rgb(255, 143, 16);
  border-radius: 10px;
}

.kolom-2 .makanan-konten .deskripsi-makanan h1 {
  color: white;
}

.kolom-2 .makanan-konten .deskripsi-makanan p {
  color: rgb(235, 235, 235);
}

.kolom-1:hover,
.kolom-3:hover,
.kolom-4:hover,
.kolom-5:hover,
.kolom-6:hover {
  background-color: rgb(255, 143, 16);
  border-radius: 10px;
}

.kolom-1:hover .deskripsi-makanan h1,
.kolom-3:hover .deskripsi-makanan h1,
.kolom-4:hover .deskripsi-makanan h1,
.kolom-5:hover .deskripsi-makanan h1,
.kolom-6:hover .deskripsi-makanan h1 {
  color: white;
}

.kolom-1:hover .deskripsi-makanan p,
.kolom-3:hover .deskripsi-makanan p,
.kolom-4:hover .deskripsi-makanan p,
.kolom-5:hover .deskripsi-makanan p,
.kolom-6:hover .deskripsi-makanan p {
  color: rgb(236, 236, 236);
}

.tof-konten {
  width: 100%;
  background-color: rgb(252, 252, 252);
  box-sizing: border-box;
}

.line {
  width: 500px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-top: 5%;
}

.title h1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 6%;
  font-weight: 550;
  font-size: 50px;
  opacity: 0.9;
}

.tof-konten .tombol-readmore {
  text-align: center;
}

.clm1 .row,
.clm2 .row {
  padding-bottom: 65px;
  padding-right: 150px;
  padding-left: 150px;
  box-sizing: border-box;
}

.makanan-konten {
  display: flex;
  text-align: left;
}

.makanan-konten .gambarmknan {
  margin-right: 15px;
  line-height: 130px;
}

.makanan-konten .deskripsi-makanan {
  align-self: center;
  margin-top: 8px;
}

.makanan-konten .deskripsi-makanan h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.makanan-konten .deskripsi-makanan p {
  color: gray;
  margin-bottom: 0rem;
}

/* Recipes */
.recipes-konten {
  margin-top: 100px;
  width: 100%;
  background-color: white;
}

.recipes-konten .title h1 {
  margin-top: -100px;
}

.recipes-konten .tombol-readmore {
  text-align: center;
}

.recipes-konten .no-gutters {
  padding: 0 100px;
}

.recipes-konten .row .col-sm-3 {
  padding: 0;
}

.recipes-konten .row .col-sm-3 img {
  width: 100%;
  height: 300px;
  padding: 0px;
  margin: 0px;
}

/* Blog Konten */
.blog-konten {
  width: 100%;
  position: relative;
}

.blog-konten .arrow-left {
  width: 60px;
  height: 60px;
  background-color: rgb(197, 197, 197);
  position: absolute;
  top: 55%;
  left: 100px;
  border-radius: 50%;
  z-index: 99999;
  transition: 0.3s;
  opacity: 0.5;
}

.blog-konten .arrow-right {
  width: 60px;
  height: 60px;
  background-color: rgb(197, 197, 197);
  position: absolute;
  top: 55%;
  right: 100px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0.5;
}

.blog-konten .arrow-left:hover,
.blog-konten .arrow-right:hover {
  background-color: rgb(255, 143, 16);
  opacity: 1;
}

.blog-konten .arrow-left img,
.blog-konten .arrow-right img {
  width: 25px;
  height: 25px;
  margin-left: 30%;
  margin-top: 30%;
}

.blog-konten .title h1 {
  margin-bottom: -3%;
}

.dot {
  text-align: center;
}

.dot ul {
  padding-left: 0;
}

.dot ul .two {
  background-color: rgba(255, 143, 16, 1);
}

.dot ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 143, 16, 0.5);
  margin: 0 5px;
  border-radius: 50%;
}

.kontainer-blog {
  padding: 15px;
  width: 60%;
  /* background-color: aqua; */
  margin: auto;
  position: relative;
}

.kontainer-blog .petik img {
  width: 60px;
  height: 60px;
  position: absolute;
  opacity: 0.2;
}

.kontainer-blog .one img {
  left: 20px;
  top: 20px;
}

.kontainer-blog .two img {
  right: 20px;
  bottom: 30px;
}

.blog-konten .kontainer-blog .text-konten {
  display: flex;
}

.blog-konten .kontainer-blog .text-konten .isi-text {
  margin-top: 8%;
  margin-left: -40px;
}

.blog-konten .kontainer-blog .text-konten img {
  width: 150px;
  height: 150px;
  margin: 98px;
  border-radius: 50%;
  border: 4px solid rgb(255, 143, 16);
  margin-left: 70px;
}

.blog-konten .tombol-readmore {
  text-align: center;
}

.blog-konten .text-konten .isi-text h1 {
  font-size: 2rem;
  font-weight: 750;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blog-konten .text-konten .isi-text p {
  font-size: 1.2rem;
}
