@media (max-width: 1074px) {
  .makanan-konten .deskripsi-makanan p {
    font-size: 70%;
  }

  .nav-list ul li {
    display: inline-block;
    width: 85px;
    height: 98px;
  }

  .nav-list ul li a span {
    width: 85px;
    height: 43px;
    font-size: 0.9rem;
  }

  .nav-list ul li a img {
    width: 20px;
    height: 20px;
  }

  /* Hero Konten */
  .hero .konten {
    margin-top: 35%;
  }

  /* Recipes */
  .recipes-konten .row .col-sm-3 img {
    height: 190px;
  }
}
