/* Laptop besar */
@media (max-width: 1440px) {
  /* navbar */

  .nav-list ul li {
    width: 100px;
  }

  .nav-list ul li a img {
    width: 21px;
    height: 21px;
    margin-top: 20px;
  }

  .nav-list ul li a span {
    font-size: 0.9.5rem;
    width: 100px;
  }

  /* nav Contact */

  .nav-contact .telepon {
    width: 155px;
    height: 35px;
  }

  .nav-contact .telepon img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  .nav-contact .telepon p {
    font-size: 13px;
  }

  .nav-contact .sosmed img {
    width: 15px;
    height: 15px;
  }

  /* Hero Konten */
  .hero {
    background-position: center 0px;
  }

  .hero .konten h1 {
    font-size: 4rem;
  }

  .hero .konten p {
    width: 500px;
    font-size: 1.2rem;
  }

  /* taste of food */
  .makanan-konten .deskripsi-makanan {
    align-self: center;
    margin-top: 19px;
  }

  .makanan-konten .deskripsi-makanan h1 {
    font-size: 1rem;
    font-weight: bold;
    color: black;
  }

  .makanan-konten .deskripsi-makanan p {
    color: gray;
    margin-bottom: 0rem;
    font-size: 85%;
    box-sizing: border-box;
  }

  .kolom-1,
  .kolom-2,
  .kolom-4,
  .kolom-5 {
    margin-right: 20px;
  }

  /* Recipes */
  .recipes-konten .row .col-sm-3 img {
    height: 220px;
  }

  /* Blog Konten */
  .kontainer-blog .one img {
    top: 40px;
  }

  .kontainer-blog .two img {
    bottom: 3%;
  }

  .kontainer-blog .petik img {
    width: 50px;
    height: 50px;
  }

  .blog-konten .kontainer-blog .text-konten .isi-text {
    margin-top: 12.5%;
  }

  .blog-konten .kontainer-blog .text-konten img {
    width: 120px;
    height: 120px;
    margin-left: 30px;
  }

  .blog-konten .kontainer-blog .text-konten .isi-text {
    margin-left: -45px;
  }

  .blog-konten .text-konten .isi-text h1 {
    font-size: 1.7rem;
  }

  .blog-konten .text-konten .isi-text p {
    font-size: 1rem;
  }

  .blog-konten .arrow-left,
  .blog-konten .arrow-right {
    width: 55px;
    height: 55px;
  }

  .blog-konten .arrow-left img,
  .blog-konten .arrow-right img {
    width: 20px;
    height: 20px;
    margin-left: 31%;
    margin-top: 31%;
  }
}
