@media (max-width: 830px) {
  .makanan-konten .gambarmknan img {
    width: 80px;
    height: 80px;
  }

  .hero .konten {
    margin-top: 40%;
  }

  .clm1 .row,
  .clm2 .row {
    display: block;
  }

  /* Footer Konten */
  .container-footer-konten .logo img {
    width: 50px;
    height: 50px;
  }

  .menu ul h4,
  .contact-us h4 {
    font-size: 0.9rem;
  }

  .menu ul li {
    font-size: 0.7rem;
  }

  .contact-us input {
    width: 100px;
    height: 30px;
    margin-right: 5px;
  }

  .contact-us button {
    width: 50px;
    height: 30px;
  }
}
