/* Tablet */
@media (max-width: 768px) {
  /* navbar */

  .logo img {
    height: 110px;
    margin-top: -10px;
    margin-left: 30px;
  }

  nav {
    overflow: visible;
  }

  .nav-list {
    position: absolute;
    width: 300px;
    height: 100vh;
    right: -100%;
    top: 100px;
    background-color: white;
    align-items: center;
    justify-items: center;
    padding-top: 50px;
    transition: 0.5s;
  }

  .nav-list.active {
    right: 0px;
  }

  .nav-list ul li {
    width: 73px;
    display: block;
  }

  .nav-list ul li a img {
    width: 21px;
    height: 21px;
    margin-top: 20px;
  }

  .nav-list ul li a span {
    font-size: 0.8.5rem;
    width: 73px;
  }

  /* nav Contact */
  .nav-contact {
    width: 320px;
  }

  .nav-contact .telepon {
    width: 145px;
    height: 33px;
  }

  .nav-contact .burger-icon img {
    width: 35px;
    height: 30px;
    display: inline-block;
  }

  .nav-contact .telepon img {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }

  .nav-contact .telepon p {
    font-size: 12px;
  }

  .nav-contact .burger-icon img {
    margin-left: 15px;
  }

  .nav-contact .sosmed img {
    width: 14px;
    height: 14px;
  }

  /* Hero Konten */
  .hero {
    background-position: center 0px;
  }

  .hero .konten {
    margin-top: 210px;
  }

  .hero .konten h1 {
    font-size: 60px;
    margin-bottom: 42px;
  }

  .hero .konten p {
    font-size: 17px;
  }
}
